{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "react/jsx-no-bind": 0,
    "import/prefer-default-export": 0,
    "no-return-assign": 0
  },
  "env": {
    "browser": 1
  }
}
